/* Texts positions */
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
/* buttons css */
.btn-block{
    width: 100%;
}
.btn-outline{
    border: 1px solid;
}
.btn-fab{
    border-radius: 100%;
}
.error-message-input{
    color: red;
    font-size: small;
}
