* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.auto-fit-grid{
  display: grid;
  grid-template-columns: repeat(
      auto-fit,
      minmax(
          150px,
          1fr
      )
  );
  gap: 16px;
}
#whatsapp{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
}
#button-admin{
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 10000;
}